h1 {
    text-align: center;
}

p {
    text-align: center;
}

.box {
    width: 300px;
    text-align: center;
}

button {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
}

.box1 {
    width: 300px;
    text-align: center;
}

.box2 {
    width: 300px;
    text-align: center;
}

.bigbox {
    display: flex;
    justify-content: space-evenly;
}